# Virtual Environment
.QAvenv/
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# pytest
.pytest_cache/

# VS Code
.vscode/

# Logs
*.log

# Driver
chromedriver.exe

# Windows
Thumbs.db
Desktop.ini

githubtoken.txt

# Ignore everything inside screenshots
Screenshots/*

# But keep this file
!Screenshots/.gitkeep

# .env
.env