# =========================
# Virtual Environment
# =========================
.QAvenv/
.venv/
venv/
env/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Test Reports
# =========================
reports/
allure-results/
allure-report/

# =========================
# Screenshots
# =========================
Screenshots/*
!Screenshots/.gitkeep

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Selenium
# =========================
chromedriver.exe

# =========================
# Node.js
# =========================
node_modules/

# =========================
# Environment / Secrets
# =========================
.env
githubtoken.txt

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Coverage
# =========================
.coverage
*.coverage
htmlcov/

# =========================
# OS / Temporary
# =========================
*.tmp
*.temp